@model SGC.tbl_Usuarios

@{
    ViewBag.Title = "SGC";
}

<div class="jumbotron">
    <h2>Login</h2>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <h1>SiGECI</h1>
        <p class="lead">Sistema de Gestión de Capacidades e Indicadores</p>

        <fieldset>


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
        

            <p class="lead">Ingrese su usuario</p>

            <tr>
                @*<td>@Html.LabelFor(a => a.Id_Usuario)</td>*@
                <td>@Html.TextBoxFor(a => a.Id_Usuario)</td>
                <td>@Html.ValidationMessageFor(a => a.Id_Usuario)</td>
            </tr>


            <p class="lead">Contraseña</p>
            <tr>
                @*<td>@Html.LabelFor(a => a.Contraseña)</td>*@
                <td>@Html.PasswordFor(a => a.Contraseña)</td>
                <td>@Html.ValidationMessageFor(a => a.Contraseña)</td>
                <br />
            </tr>
            <br />
            <input type="submit" name="BtnLogin" value="Iniciar Sesion" id="BtnLogin" class="BtnLogin" />
            
        </fieldset>

        @*<table align="center">
                <td>

                    <p class="lead">Ingrese su usuario</p>
                    <p class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                    </p>

                </td>
                <table align="center">
                    <td>
                        <p class="lead">Contraseña</p>
                        <p class="input-group input-group-lg">

                            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
                        </p>

                    </td>
                </table>
                <td></td>
                <table align="center">
                    <td>
                        <input type="submit" name="BtnLogin" value="Iniciar Sesion" id="BtnLogin" class="BtnLogin" />
                    </td>
                </table>

                <table align="center">
                    <img src="~/Views/Tecnologico.jpg"
                         alt=""
                         width="200"
                         height="171"
                         title="Logo del Tecnologico">
                </table>
            </table>*@
    }
</div>

